@import "styles/variables";

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #fff;
  border-radius: 2px;
  height: 15%;
  position: absolute;
  left: 0; right: 0;

  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}) {
      top: calc(40% * #{$i - 1});

      .bm-burger-button:hover & {
        background: nth($triplet, $i);
      }
    }
  }
}

.bm-cross-button {
  height: 30px;
  width: 36px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $white;
}

/* General sidebar styles */
.bm-menu {
  background: $black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list a {
  color: $nav;
  padding: 0.8em;

  &:hover {
    color: $white;
  }
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3em;

  .fas {
    width: 1.2em;
    text-align: center;
    margin-right: 1em;
  }
}

.bm-item--highlight {
  color: nth($triplet, 1);
}

.bm-item__logo {
  height: 200px;
  width: 200px;
  margin: 0 auto 1em auto;
  background: $white;
  border-radius: 50%;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.4);
}
