@import "styles/variables";

@media #{$pc} {
  header {
    display: flex;
    .logo {
      width: 10em;
      height: 10em;
      background-color: $gray;
      margin: 1em 0 1em 1em;
      padding: 1em;
      border-radius: 50%;
    }
    .nav-bar {
      text-align: center;
      margin: 1em 0 1em -1em;
      justify-content: center;
      display: flex;
      place-items: center;

      & .router-link {
        padding: 0.25em 2em;
        text-decoration: none;
        border-radius: 4px;
        user-select: none;
        cursor: pointer;
        font-family: 'Amatic SC';
        font-weight: bold;
        font-size: 2em;
        border: 2px solid $gray;
        color: $gray;
        margin-right: 1em;

        &:last-of-type {
          color: $orange;
          border: 2px solid $orange;
        }

        &:active, &:hover {
          background: $gray;
          border: 2px solid $gray;
          color: #000;
        }
      }
    }
  }
}

@media #{$mobile} {
  header {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
}
