@import "variables";
@import "mixins";

html,
body {
  height: 100%;
  width: 100%;
}
html {
  width:100vw;
  overflow-x:hidden;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

body.openSansLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body.amaticLoaded {
  .custom-font {
    font-family: 'Amatic SC';
    letter-spacing: .025em;

    strong {
      text-shadow: 1px 0 0;
    }
  }
}

.right {
  float: right;
}

p,
label {
  font-size: 1.5em;
  line-height: 1.5em;
}
