@import "variables";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background:
    // linear-gradient(rgba(#000, .5), transparent),
    // linear-gradient(140deg, transparent 0%, transparent 32%, $orange 32%, $orange 95%, #000 95%, #000 100%),
    url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.openSansLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body.amaticLoaded {
  .title {
      font-family: 'Amatic SC';
  }
}

#app {
  min-height: 100%;
  min-width: 100%;
  color: #000;
}

p,
label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}
