$orange: #f19202;
$gray: #eee;
$gray-faded: darken($gray, 40%);

$width-breakpoint: 1200px;
$mobile: "screen and (max-width : #{$width-breakpoint})";
$pc: "screen and (min-width : #{$width-breakpoint})";
