@import 'styles/variables';
@import 'styles/mixins';

.RegistrationPage {
  @include box;
  display: flex;
  flex: 1;

  @media #{$mobile} {
    flex-direction: column;
  }

  .regForm {
    min-width: 400px;
    background: $black;
    color: $nav;
    @include border-radius(("top-right", "bottom-right"));
  }

  section {
    min-width: 300px;
  }
}
