{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "3.6",
        "targets": {
          "browsers": "defaults"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "useESModules": true,
        "corejs": 3
      }
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/lab",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "lab"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/styles",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "styles"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "icons"
    ]
  ]
}
