# Dependencies
node_modules

# Next.js
.next
out

# Build
dist
coverage
stats.json
.bundle-stats.json

# Firebase
.firebase
malenovska-service-account.json
firebase-export.json
backup

# Environment
.env*.local

# Cruft
.DS_Store
npm-debug.log
.idea
assets/images/background_backup.jpg

# typescript
*.tsbuildinfo
next-env.d.ts
