# Dependencies
node_modules

# React Router / Vite
.react-router
build

# Build
dist
coverage
stats.json
.bundle-stats.json

# Firebase
functions/lib
.firebase
malenovska-service-account.json
firebase-export.json
emulator-data
seed.json
backup
firebase-debug.log
firestore-debug.log

# Environment
.env*.local

# Cruft
.DS_Store
npm-debug.log
.idea
assets/images/background_backup.jpg

# typescript
*.tsbuildinfo
