service cloud.firestore {
  match /databases/{database}/documents {
    match /rules/{document=**} {
      allow read;
    }

    match /legends/{document=**} {
      allow read;
    }

    match /events/{event} {
      allow read;

      match /participants/{participant} {
      	allow create;

        match /private/{private} {
          allow create;
        }
      }

      match /{collection=**} {
      	allow read;
      }
    }
  }
}
