service cloud.firestore {
  match /databases/{database}/documents {
    match /participants/{public} {
      allow read, create;
      allow update: if false;

      match /private/{document=**} {
    		allow read: if false;
        allow write;
      }
    }
    match /races/{document=**} {
      allow read;
    }
    match /rules/{document=**} {
      allow read;
    }
    match /legends/{document=**} {
      allow read;
    }
    match /information/{document=**} {
      allow read;
    }
  }
}
