@import 'styles/variables';

.Footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  color: $gray-faded;

  a {
    color: $gray-faded;

    &:hover {
      color: $gray;
    }
  }
}
