@import "styles/variables";

.legendsPage {
    background-color: white;
    border-radius: .2rem;
    width: 1200px;
    margin: 0 auto;
    padding: 1rem 5rem;

    @media #{$small_screen} {
        width: 100%
    }
}
