@import 'styles/variables';

.rulesBox {
  display: block;
  background-color: white;
  border-radius: .2rem;
  padding: 0;

  .box__content {
    padding: 1em;
  }

  .box__header {
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.5rem;

    h1 {
        margin: 0;
    }
  }
  .box__icon {
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
  }
}
