@import 'styles/variables';
@import "styles/mixins";

.RaceItem {
  &:first-of-type {
    @include border-radius(("top-left"));
  }

  width: 100%;
  display: block;
  font-size: 1.5rem;
  padding: 1em;
  line-height: 1;
  padding-left: 1.5em;
  position: relative;
  cursor: pointer;

  &.selectedRace,
  &.selectedRace:hover {
    background-color: $gray-faded;
  }

  &.selectedRace,
  &:hover {
    color: $white;
  }

  &:hover {
    background-color: rgba($gray, .2);
  }

  &.selectedRace::after {
    content: "";
    position: absolute;
    right: -1.5em; top: 0; bottom: 0;
    height: 0; width: 0;
    z-index: 1;

    border-width: 1.5em 0 1.5em 1.5em;
    border-style: solid;
    border-color: transparent transparent transparent $gray-faded;
  }

  span {
    color: $white;
  }
}
