@import "styles/variables";
@import "styles/mixins";

.article {
  @include box;
  width: 1200px;
  margin-bottom: 3rem;
  padding: 1rem 5rem;
  position: relative;

  @media #{$mobile} {
    width: 100%
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.self-link {
  position: absolute;
  right: 30px; top: 20px;
  color: $nav;

  &:hover {
    color: $black;
  }
}
