@import "styles/variables";
@import "styles/mixins";

.article {
  @include box;
  width: 1200px;
  margin-bottom: 3rem;
  padding: 1rem 5rem;

  @media #{$mobile} {
    width: 100%
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
