@import "styles/variables";

.article {
    background-color: white;
    border-radius: .2rem;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 3em;
    padding: 1rem 5rem;

    @media #{$mobile} {
        width: 100%
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}
