@import 'styles/variables';

.NotFoundPage {
  background: $white;
  height: 80%;
  margin: auto auto;
  width: $width-breakpoint;
  border-radius: .2rem;
  padding: 3em;
  text-align: center;

  .logo {
    padding: 0.8em;
    height: 200px;
    width: 200px;
    margin: 0 auto 1em auto;
    background: $white;
    border: 2px solid $black;
    border-radius: 50%;
  }
}
