@import "variables";
@import "mixins";

html,
body {
  height: 100%;
  width: 100%;
}
html {
  width:100vw;
  overflow-x:hidden;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url("../../assets/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p,
label,
article li {
  font-size: 1.5rem;
  line-height: 1.5em;
}

h2 {
  font-size: 1.7em;
}

input, button {
  background-color: transparent;
  color: inherit;
}

.custom-font {
  font-family: 'Amatic SC';
  letter-spacing: .025em;

  strong, h1, h2 {
    text-shadow: 1px 0 0;
  }
}

.right {
  float: right;
}
