@import 'styles/variables';

.RaceDescription {
  flex: 1;
  padding: 0 1rem 0 3rem;
  width: 100%;
  box-shadow: -5px 0 2px -1px $white inset;
  margin: auto;

  hr {
    width: 80%;
    height: 0;
    border-radius: 50%;
    border-top: 2px solid $black;
  }
}
