@import 'styles/variables';

.RegForm {
  background: $black;

  .form-group {
    margin: 2em 1em;
    background: rgba($gray, .2);
    border-radius: .2rem;
    position: relative;
  }

  label {
    margin-right: 1em;
    font-size: 1.1em;
    padding-left: 1em;
    position: absolute;

    body.amaticLoaded & {
      font-family: 'Amatic SC';
    }
  }

  input {
    text-align: center;
    width: 100%;
    font-size: 1.15em;
    line-height: 2em;
  }

  .button-wrapper {
    margin: 3rem 1rem;
    text-align: center;
  }
  button {
    margin: auto;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 2px solid $white;
    border-radius: .2rem;

    body.amaticLoaded & {
      font-family: 'Amatic SC';
      font-size: 2em;
    }

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
