.loading-indicator {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.8);
  display: flex;
  align-items: center;

  .spinner {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(253, 38, 0);
    animation: spin 2s linear infinite;

    &:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      right: 3px;
      bottom: 3px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: rgb(241, 238, 16);
      animation: spin 3s linear infinite;
    }

    &:after {
      content: "";
      position: absolute;
      top: 9px;
      left: 9px;
      right: 9px;
      bottom: 9px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: rgb(255, 145, 0);
      animation: spin 1.5s linear infinite;
    }
  }
}

@keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
