#app-wrapper {
  margin: 0 auto;
  position: initial;
  display: flex;
  min-height: 100%;
  padding: 0;
  flex-direction: column;
}
#app-content {
  flex: 1 1 100%;
  padding-top: 102px;
}
#app {
  height: 100%;
}
